@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mr Travel</h1>
    <p class="lead">Mr Travel is your best choice to manage your trip.</p>
    <p><a href="https://localhost:44349/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Start your booking here.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44349/Bookings">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hotel</h2>
        <p>View different kinds of hotels here.</p>
        <p><a class="btn btn-default" href="https://localhost:44349/Hotels">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rate</h2>
        <p>You can view the rate of hotels here.</p>
        <p><a class="btn btn-default" href="https://localhost:44349/Ratings">Learn more &raquo;</a></p>
    </div>
</div>